certifi==2021.10.8
click
colorama
cycler
dnspython
Flask
Flask-Cors
fonttools
geomet==0.2.1.post1
importlib-metadata
itsdangerous
Jinja2
joblib
kiwisolver
kneed
MarkupSafe
matplotlib
numpy
packaging
pandas
Pillow
protobuf
pymongo
pyparsing
python-dateutil
pytz
scikit-learn
scipy
six
sklearn
threadpoolctl
typing_extensions
Werkzeug
wincertstore
xgboost==0.90
zipp
pytest
